concourse/credential.yml

*~
.#*
dependency-reduced-pom.xml
.DS_Store
data/
tmp/
*.sw[op]
../sagan-client/jspm_packages/npm/babel-core@5.8.38/lib/transformation/transformers/es6/classes/
test.log
logs/
work
.bower-*
lib/
dist

.idea
*.iml
*.ipr
*.iws
out

.gradle
build
/build

sagan.java.hsp

jspm_packages/
npm-debug.log
.cram/